POSTGRES_DB=gerenciador_tarefas_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORTA_HOST=55433

API_PORTA_HOST=5258
API_PORTA_CONTAINER=8080

FRONTEND_PORTA_HOST=5173

ASPNETCORE_ENVIRONMENT=Development
BANCO_APLICAR_MIGRACOES_AUTOMATICAMENTE=true
BANCO_APLICAR_SEED_DEMONSTRACAO=true
AUTENTICACAO_JWT_CHAVE_SECRETA=chave-desenvolvimento-local-com-32-caracteres

VITE_URL_API=http://localhost:5258
